# Import relevant modules

In [1]:
import numpy as np
import pandas as pd
import datetime

# Generate relevant tables with sample data

### Generate table with room data

Set up a DataFrame 'room_data' to hold room-specific info.

In [2]:
room_names = ['Room_{}'.format(i+1) for i in np.arange(18)]
room_details = [
    'adult_capacity', 
    'child_capacity', 
    'base_cost', 
    'child_cot_cost', 
    'view_type'
    ]
room_data = pd.DataFrame(
    index = room_names, 
    columns = room_details
    )
room_data.index.name = 'room_name'

Populate room_data with sample data

In [3]:
# Set basic data
room_data.loc[:, 'adult_capacity'] = 2
room_data.loc[:, 'child_capacity'] = 1
room_data.loc['Room_1':'Room_9', 'view_type'] = 'garden'
room_data.loc['Room_10':'Room_18', 'view_type'] = 'city'
room_data.loc[:, 'child_cot_cost'] = 20

# Set different costs for garden and city views
room_data.loc[room_data['view_type'] == 'garden', 'base_cost'] = 100
room_data.loc[room_data['view_type'] == 'city', 'base_cost'] = 80

In [4]:
# Export table to ...

In [5]:
# Tests/validations?
# make sure all view_types in ['garden', 'city']
# Check final prices are in the 50-200 range
# Check total capacities are <6

### Generate table with reservations data

In [6]:
# Reservation code x (staff member, customer name, num guests, reservation details..., promo code, price)
# - price is more if child

# New entry into reservation table -> generates option for return customer flag if email matches previous, or last name matches

Set up a DataFrame 'reservation_data' to hold reservation info.

In [2]:
# Sample date range will span last 2 years to 2 years from today
today = datetime.datetime.strptime('20/09/2023', "%d/%m/%Y").date()

# Assume:
# - stays of 1 to 7 days 
# - hotel was booked at 80% capacity for last 2 years
# - hotel has 60% of capacity booked for the coming month


staff_members = ['Bob', 'Steve', 'John', 'Mary', 'Emily']

room_names = ['Room_{}'.format(i+1) for i in np.arange(18)]
room_details = [
    'adult_capacity', 
    'child_capacity', 
    'base_cost', 
    'child_cot_cost', 
    'view_type'
    ]
room_data = pd.DataFrame(
    index = room_names, 
    columns = room_details
    )
room_data.index.name = 'room_name'

Populate room_data with sample data

In [3]:
# Set basic data
room_data.loc[:, 'adult_capacity'] = 2
room_data.loc[:, 'child_capacity'] = 1
room_data.loc['Room_1':'Room_9', 'view_type'] = 'garden'
room_data.loc['Room_10':'Room_18', 'view_type'] = 'city'
room_data.loc[:, 'child_cot_cost'] = 20

# Set different costs for garden and city views
room_data.loc[room_data['view_type'] == 'garden', 'base_cost'] = 100
room_data.loc[room_data['view_type'] == 'city', 'base_cost'] = 80

In [4]:
# Export table to ...

In [5]:
# Tests/validations?
# make sure all view_types in ['garden', 'city']
# Check final prices are in the 50-200 range
# Check total capacities are <6

### Generate table with room availability data
(populated with reservation code or available)

Set up a DataFrame 'availability_data' to hold room availability info.

In [7]:
# Sample date range will span last 2 years to 2 years from today
today = datetime.datetime.today().date()
date_list = [today + datetime.timedelta(days=x) for x in range(-730, 730)]
availability_data = pd.DataFrame(
    index = room_names, 
    columns = date_list,
    data = 'empty'
    )

Populate availability_data with sample reservation codes

In [8]:
# Assign reservation codes based on reservation_data

In [9]:
# Export table to ...

In [10]:
# Tests/validations?
# Check columns are valid dates?

### Generate table with customer data
Customers x cust. details